# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.dat


*.png
*.tif
*.tiff


usb_proto/channels

gradients.py
__pycache__

nanosleep_bench
